<tr onclick="location.href='<%= article_url(article) %>'" style="cursor: pointer">
  <td><%= article.id %></td>
  <td><%= article.name %></td>
  <td><%= article.price %></td>
  <td><%= article.size %></td>
  <td><%= article.stock %></td>
  <td><%= article.color %></td>
</tr>
