
<div class="card" style="width: 18rem;">
  <img src="<%= article.img %>" class="card-img-top" alt="<%= article.name %>">
  <div class="card-body">
    <h5 class="card-title"><%= article.category %></h5>
    <p class="card-text"><%= article.description %></p>
    <a href="<%= article_url(article) %>" class="btn btn-primary">Acheter</a>
  </div>
</div>