

<!-- Product Details -->
  <section class="section product-detail">
    <div class="details container">
      <div class="left">
        <div class="main">
          <img src="<%= image_path( @article.img_loc ) %>" alt="" />
        </div>
        <div class="thumbnails">
          <div class="thumbnail">
            <img src="/assets/images/product2.jpg" alt="" />
          </div>
          <div class="thumbnail">
            <img src="/assets/images/product3.jpg" alt="" />
          </div>
          <div class="thumbnail">
            <img src="/assets/images/product4.jpg" alt="" />
          </div>
          <div class="thumbnail">
            <img src="/assets/images/product5.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="right">
        <span> <%= @article.category %> </span>
        <h1> <%= @article.name %> </h1>
        <div class="price"> Price: <%= number_to_currency( @article.price, :precision => 0, :unit => "CFA " ) %> </div>
        <form>
          <div>
            <select>
              <option value="Select Size" selected disabled>
                Choisir la taille
              </option>
              <option value="1">38</option>
              <option value="2">39</option>
              <option value="3">40</option>
              <option value="4">41</option>
              <option value="4">42</option>
            </select>
            <span><i class="fas fa-chevron-down"></i></span>
          </div>
        </form>

        <form class="form">
          <label for="inputName4">Qté:</label>
          <input type="text" placeholder="1" />
          <a href="cart.html" class="addCart">Acheter</a>
        </form>
        <h3>Détail du produit:</h3>
        <%= sanitize( @article.description ) %>
      </div>
    </div>
    <br><br>
    
    <div class="product-item card-body container">
      <div class="row down-content" style="padding:20px 40px 40px 40px">
        <div class="col-sm-11 d-flex align-items-center" style="text-align:left; margin-left:0px;">
          <ul class="stars">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
        </div>
        <div class="col-sm-1 d-flex align-items-center" style="text-align:right; margin-right:0px; padding: 0px; color: red; vertical-align: center">
           <h5>Reviews (12)</h5>
        </div>
      </div>
      <div class="row" style="padding:0px 40px 0px 40px">
         <!-- Start Bootstrap Form -->
        <form>
          <div class="form-row">
            <div class="form-group col-md-6" style="padding-bottom:20px">
              <label for="inputName4">Nom:</label>
              <input type="text" style="font-size:16px" class="form-control" id="inputName4" placeholder="Nom">
            </div>
            <div class="form-group col-md-6" style="padding-bottom:20px; font-size:16px">
              <label for="inputEmail4">Email:</label>
              <input type="text" style="font-size:16px" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
          </div>
          <div class="form-group" style="padding-bottom:20px">
            <label for="inputReview">Votre revue:</label>
            <textarea rows="4" class="form-control" style="font-size:16px" placeholder="Insérer votre revue..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="font-size:16px"><b>Poster</b></button>
        </form>
        <!-- End Start Bootsrap Form -->
      </div>
    </div>
  </section>
<br><br>
<div class="container">
  <div class="row">
    <h3> <%= link_to "Modifier cet article", edit_article_path(@article) %> </h3>
  </div>
  <div class="row">
    <h3> <%= link_to "Catalogue", articles_path %> </h3>
  </div>
  <div class="row">
    <h3> <%= button_to "Supprimer cet article", @article, method: :delete %> </h3>
  </div>
</div>



