<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>mC2.store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>mC2 Store Products</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

     <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "bootstrap.min.css", "data-turbo-track": "reload" %>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!-- Font Awesome -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "cloudflare.all.min", "data-turbo-track": "reload" %>

    <!-- Additional CSS Files -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "fontawesome", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flex-slider", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "templatemo-sixteen", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "owl", "data-turbo-track": "reload" %>

    <!-- Custom StyleSheet -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>

    <!-- EStore CSS Libraries -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "slick", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "slick-theme", "data-turbo-track": "reload" %>
  </head>

  <body>

    <!-- Rails notice flash message. -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> 
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>mC2 <em>Store</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/articles">Accueil
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item active">
                <a class="nav-link" href="/articles">Catalogue</a>
              </li>

              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Quitter", destroy_user_session_path, method: :delete, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Mon Compte", edit_user_registration_path, class:"nav-link" %>
                </li>
              <% else %>
                  <li class="nav-item">
                    <%= link_to "S'identifier", new_user_session_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "S'enregistrer", new_user_registration_path, class:"nav-link" %>
                  </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link" href="/contact.html">Contact</a>
              </li>
            </ul>

            


          </div>
        </div>
      </nav>
    </header>
    
    <!-- Banner Start -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h5>ARRIVAGES</h5>
              <h2>Boutique mC2</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Page Content Stat -->
    <div class="products">
      <div class="container">
        <div class="row">
    <div class="col-md-12">
      <div class="filters">
        <ul>
          <li class="active" data-filter="*">Catalogue</li>
          <li data-filter=".des">Promotions</li>
          <li data-filter=".dev">Ventes flash</li>
          <li data-filter=".gra">Dernière minute</li>
        </ul>
      </div>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-12"></div>
    </div>
    </div>
    <%= yield %>
    <!-- Page Content End -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 mC2.store Co., Ltd.
            
            - Design: <a rel="nofollow noopener" href="https://www.apptitudesoft.com" target="_blank">Apptitude</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.bundle.min" %>

    <!-- Additional Scripts -->
    <%= javascript_include_tag "custom" %>
    <%= javascript_include_tag "owl" %>
    <%= javascript_include_tag "slick" %>
    <%= javascript_include_tag "isotope" %>
    <%= javascript_include_tag "accordions" %>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>
</html>
